.add-block__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    font-family: "Inter", "Arial", sans-serif;
    color: #54595F;
}

@media screen and (max-width: 390px) {
    .add-block__text {
        font-size: 40px;
        line-height: 50px;
    }
}
