.data-info__list_text {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    font-family: "Inter", "Arial", sans-serif;
    color: #54595F;
}

@media screen and (max-width: 390px) {
    .data-info__list_text {
        font-size: 40px;
        line-height: 50px;
    }
}
