.item__info {
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    color: #54595F;
    display: block;
    font-weight: 600;
    font-size: 17px;
    line-height: 29px;
    margin: 10px 0 0;
}
@media screen and (max-width: 600px) {
    .item__info {
        font-weight: 500;
        font-size: 35px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .item__info {
        font-weight: 500;
        font-size: 42px;
        line-height: 82px;
    }
}
