.item__button {
    background: #483D8B;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

    .item__button:hover {
        background: #fff;
        color: #000;
        border: 1px #54595F solid;
        border-radius: 5px;
    }

@media screen and (max-width:600px) {
    .item__button {
        width: 255px;
        height: 92px;
    }
}
