.data-info {
    width: 50%;
    border: #d3d3d3 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
}

@media screen and (max-width: 600px) {
    .data-info {
        width: 80%;
        padding: 15px 25px;
    }
}