.anime-slide__item {
    width: 1280px;
    height: 650px;
}

    .anime-slide__item:nth-child(1) {
        background: url(../../../images/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x1 20s infinite ease-in-out;
    }

    .anime-slide__item:nth-child(2) {
        background: url(../../../images/2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x2 20s infinite ease-in-out;
    }

    .anime-slide__item:nth-child(3) {
        background: url(../../../images/3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x3 20s infinite ease-in-out;
    }

    .anime-slide__item:nth-child(4) {
        background: url(../../../images/4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x4 20s infinite ease-in-out;
    }

    .anime-slide__item:nth-child(5) {
        background: url(../../../images/5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x5 20s infinite ease-in-out;
    }

@keyframes x1 {
    0%, 95%, 100% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(-1280px, 0px);
    }

    20% {
        transform: translate(-1280px, 0px);
    }

    35% {
        transform: translate(-1280px, 1000px);
    }

    40% {
        transform: translate(-1280px, 1000px);
    }

    55% {
        transform: translate(1280px, 1000px);
    }

    60% {
        transform: translate(1280px, 1000px);
    }

    75% {
        transform: translate(1400px, 0px);
    }

    80% {
        transform: translate(1280px, 0px);
    }
}

@keyframes x2 {
    0%,95%,100% {
        transform: translate(1280px, -650px);
    }

    15% {
        transform: translate(0px, -650px);
    }

    20% {
        transform: translate(0px, -650px);
    }

    35% {
        transform: translate(-1280px, -650px);
    }

    40% {
        transform: translate(-1280px, -650px);
    }

    55% {
        transform: translate(-1280px, 0px);
    }

    60% {
        transform: translate(-1280px, 0px);
    }

    75% {
        transform: translate(1280px, 0px);
    }

    80% {
        transform: translate(1280px, 0px);
    }
}

@keyframes x3 {
    0%,95%,100% {
        transform: translate(1280px, -650px);
    }

    15% {
        transform: translate(1280px, -1300px);
    }

    20% {
        transform: translate(1280px, -1300px);
    }

    35% {
        transform: translate(0px, -1300px);
    }

    40% {
        transform: translate(0px, -1300px);
    }

    55% {
        transform: translate(-1280px, -1300px);
    }

    60% {
        transform: translate(-1280px, -1300px);
    }

    75% {
        transform: translate(-1280px, -650px);
    }

    80% {
        transform: translate(-1280px, -650px);
    }
}

@keyframes x4 {
    0%,95%,100% {
        transform: translate(-1280px, -1300px);
    }

    15% {
        transform: translate(1280px, -1300px);
    }

    20% {
        transform: translate(1280px, -1300px);
    }

    35% {
        transform: translate(1280px, -1950px);
    }

    40% {
        transform: translate(1280px, -1950px);
    }

    55% {
        transform: translate(0px, -1950px);
    }

    60% {
        transform: translate(0px, -1950px);
    }

    75% {
        transform: translate(-1280px, -1950px);
    }

    80% {
        transform: translate(-1280px, -1950px);
    }
}

@keyframes x5 {
    0%,95%,100% {
        transform: translate(-1280px, -2600px);
    }

    15% {
        transform: translate(-1280px, -1950px);
    }

    20% {
        transform: translate(-1280px, -1950px);
    }

    35% {
        transform: translate(1280px, -1950px);
    }

    40% {
        transform: translate(1280px, -1950px);
    }

    55% {
        transform: translate(1280px, -2600px);
    }

    60% {
        transform: translate(1280px, -2600px);
    }

    75% {
        transform: translate(0, -2600px);
    }

    80% {
        transform: translate(0, -2600px);
    }
}

/*.anime-slide__item {
    height: 100%;
    color: transparent;
}

    .anime-slide__item:nth-child(1) {
        background: url(../../../images/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x1 15s infinite;
    }

    .anime-slide__item:nth-child(2) {
        background: url(../../../images/2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x2 15s infinite;
    }

    .anime-slide__item:nth-child(3) {
        background: url(../../../images/3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x3 15s infinite;
    }

    .anime-slide__item:nth-child(4) {
        background: url(../../../images/4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x4 15s infinite;
    }

    .anime-slide__item:nth-child(5) {
        background: url(../../../images/5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: x5 15s infinite;
    }

@keyframes x1 {
    0%, 95%, 100% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(-1280px, 0px);
    }

    20% {
        transform: translate(-1280px, 0px);
    }

    35% {
        transform: translate(-1280px, 1000px);
    }

    40% {
        transform: translate(-1280px, 1000px);
    }

    55% {
        transform: translate(1280px, 1000px);
    }

    60% {
        transform: translate(1280px, 1000px);
    }

    75% {
        transform: translate(1400px, 0px);
    }

    80% {
        transform: translate(1280px, 0px);
    }
}

@keyframes x2 {
    0%, 95%, 100% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(-1280px, 0px);
    }

    20% {
        transform: translate(-1280px, 0px);
    }

    35% {
        transform: translate(-1280px, 1000px);
    }

    40% {
        transform: translate(-1280px, 1000px);
    }

    55% {
        transform: translate(1280px, 1000px);
    }

    60% {
        transform: translate(1280px, 1000px);
    }

    75% {
        transform: translate(1400px, 0px);
    }

    80% {
        transform: translate(1280px, 0px);
    }
}

@keyframes x3 {
    0%, 95%, 100% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(-1280px, 0px);
    }

    20% {
        transform: translate(-1280px, 0px);
    }

    35% {
        transform: translate(-1280px, 1000px);
    }

    40% {
        transform: translate(-1280px, 1000px);
    }

    55% {
        transform: translate(1280px, 1000px);
    }

    60% {
        transform: translate(1280px, 1000px);
    }

    75% {
        transform: translate(1400px, 0px);
    }

    80% {
        transform: translate(1280px, 0px);
    }
}

@keyframes x4 {
    0%, 95%, 100% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(-1280px, 0px);
    }

    20% {
        transform: translate(-1280px, 0px);
    }

    35% {
        transform: translate(-1280px, 1000px);
    }

    40% {
        transform: translate(-1280px, 1000px);
    }

    55% {
        transform: translate(1280px, 1000px);
    }

    60% {
        transform: translate(1280px, 1000px);
    }

    75% {
        transform: translate(1400px, 0px);
    }

    80% {
        transform: translate(1280px, 0px);
    }
}

@keyframes x5 {
    0%, 95%, 100% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(-1280px, 0px);
    }

    20% {
        transform: translate(-1280px, 0px);
    }

    35% {
        transform: translate(-1280px, 1000px);
    }

    40% {
        transform: translate(-1280px, 1000px);
    }

    55% {
        transform: translate(1280px, 1000px);
    }

    60% {
        transform: translate(1280px, 1000px);
    }

    75% {
        transform: translate(1400px, 0px);
    }

    80% {
        transform: translate(1280px, 0px);
    }
}*/