.item {
    width: 400px;
    display: grid;
    align-content: space-between;
    justify-items: center;
}

@media screen and (max-width: 320px) {
    .item {
        width: 100%;
    }
}
