 .content{
    display: grid;
    grid-row-gap: 60px;
}

@media screen and (max-width: 900px) {
    .content {
        grid-row-gap: 78px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        grid-row-gap: 64px;
    }
}