.phone {
    display: flex;
    border: 1px #C0C0C0 solid;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

@media screen and (max-width: 390px) {
    .phone {
        width: 50%;
        height: 320px;
        margin-top: 40px;
    }
}
