.call {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 1;
    background: center/45px 45px no-repeat #FF0000;
    border-radius: 50%;
    border: 4px #fff solid;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 450px) {
    .call {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}