.elements {
    display: grid;
    gap: 16px;
    justify-content: center;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 720px) {
    .elements {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 350px) {
    .elements {
        gap: 12px;
        max-width: 288px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
