.cards__block {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .cards__block {
        width: 100%;
    }
}