.types {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1200px;
    gap: 180px;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .types {
        gap: 100px;
    }
}

@media screen and (max-width: 320px) {
    .types {
        flex-direction: column;
        gap: 30px;
    }
}