.element__info {
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    color: #54595F;
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    margin: 14px 0 0;
}

@media screen and (max-width: 600px) {
    .element__info {
        font-size: 28px;
        line-height: 30px;
    }
}

@media screen and (max-width: 390px) {
    .element__info {
        font-size: 56px;
        line-height: 66px;
    }
}