.data-info__title {
    margin: 0;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    color: #54595F;
}

@media screen and (max-width: 600px) {
    .data-info__title {
        font-size: 55px;
        line-height: 50px;
    }
}
