.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: 1px solid #DCDCDC;
    max-width: 370px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .element {
        max-width: 720px;
    }
}
