.item__list_element {
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    color: #54595F;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

@media screen and (max-width: 600px) {
    .item__list_element {
        font-size: 27px;
        line-height: 46px;
    }
}

@media screen and (max-width: 390px) {
    .item__list_element {
        font-size: 52px;
        line-height: 58px;
    }
}
