.info__inform {
    display: flex;
    width: 25%;
    background: #4169E1;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media screen and (max-width: 1000px) {
    .info__inform {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .info__inform {
    }
}